<div class="usa {{if this.areLabelsOn "show-labels" "hide-labels"}}" {{on "mouseenter" this.showLabels}} {{on "mouseleave" this.hideLabels}}>
  {{#each this.grid as |row|}}
    {{#each row as |state|}}
      <div
        class="grid
          {{if state "state"}}
          {{if (includes (sub @numApportioned 1) (get @ranks state)) "last-in"}}
          {{if (eq state @selectedState) "selected"}}"
        {{on "mouseenter" (fn @selectState state)}}
        {{on "mouseleave" (fn @selectState null)}}
      >
        {{#if state}}
          <EncodedState @state={{find-by "id" state @states}} @ranks={{get @ranks state}} @maxRank={{@numApportioned}}/>
        {{/if}}
      </div>
    {{/each}}
  {{/each}}
</div>